
.page-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: hsl(var(--primary));
  animation: loading-bar 0.5s ease-out forwards;
  z-index: 9999;
}

@keyframes loading-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
